@{
    ViewData["Title"] = "Home Page";
}


    <h1>Leave and Employment Management</h1>
    <h4>Apply for your leave and shifts by logging in into your account</h4>


    <p><strong> Manage your leaves and shifts. </strong></p>

