@{
    ViewData["Title"] = "Home Page";
}


    <h1>Leave and work shift management</h1>
    <h4>Apply for your leave and work shifts by logging in into your account</h4>


    <p><strong> Manage your leaves and work shift . </strong></p>

